@media (min-width: 700px) {
  header {
    min-height: 340px;
    justify-content: space-between;
    /* padding: 50px 50px; */
    padding: 80px 50.08px 0 50.08px;
  }

  .header-btn {
    display: block;
    color: var(--Pink);
    padding: 0.5rem 1.88rem;
    border-radius: 3.13rem;
    border: 0.13rem solid var(--Pink);
    transition: 0.5s ease-in-out;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 4.38rem;
  }

  .hero-btn,
  .hero-img {
    margin-bottom: 100px;
  }

  .statistics-list {
    padding-bottom: 6.25rem;
  }

  h2 {
    text-align: start;
  }

  .section-paragraph {
    text-align: start;
  }

  .statistics-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
    /* gap: 340px; */

    /* NEED TO FIND A BETTER WAY TO CREATE THE GAP */
    padding: 88px 60px;
  }

  .together-flex {
    display: flex;
    flex-direction: row;
    gap: 5.63rem;
    padding: 88px 60px;
  }

  .conversation-flex {
    display: flex;
    flex-direction: row-reverse;
    gap: 5.63rem;
    padding: 88px 60px;
  }

  .users-flexbox {
    display: flex;
    flex-direction: row;
    gap: 5.63rem;
    padding: 88px 60px;
  }

  .hero-btn,
  .cta-btn {
    width: 400px;
    font-size: clamp(0.88rem, calc(0.74rem + 0.56vw), 1.25rem);
    font-weight: 600;
    padding: 27.04px 30.08px;
    border-radius: 3.13rem;
    box-shadow: 0 0.5rem 0.63rem var(--Shadow);
  }

  .hero-btn:hover,
  .cta-btn:hover {
    width: 340px;
    background-color: var(--Light-Pink);
  }

  .cta-section {
    min-height: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .statistics-list {
    gap: 340px;
  }
}
/* ***************************** */
/* FOOTER */
/* ***************************** */

@media (min-width: 1100px) {
  footer {
    padding: 50px 70px;
    background: var(--Dark-Cyan);
  }

  .footer-inner {
    flex-direction: row;
    justify-content: space-between;
    /* padding: 88px 60px; */
    padding: 88px 100px;
  }

  .company-info {
    text-align: start;
  }

  .company-contact {
    align-items: flex-start;
  }

  .social-media-container {
    display: flex;
    justify-content: flex-start;
  }

  .newsletter-container {
    max-width: 500px;

    flex-direction: column;

    text-align: start;
  }

  form {
    flex-direction: row;
  }
}
