@media (hover: hover) {
  .hero-btn:hover,
  .cta-btn:hover {
    width: 220px;
    background-color: var(--Light-Pink);
  }

  .social-media-container i:hover,
  .phone:hover,
  .email:hover {
    color: var(--Pink);
  }

  .newsletter-btn:hover {
    background-color: var(--Light-Pink);
  }
}

/* ***************************** */
/* TABLETS */
/* ***************************** */

@media (min-width: 700px) {
  header {
    min-height: 240px;
    justify-content: space-between;
    padding: 80px 50.08px 0 50.08px;
  }

  .header-btn {
    display: block;
    color: var(--Pink);
    padding: 0.5rem 1.88rem;
    border-radius: 3.13rem;
    border: 0.13rem solid var(--Pink);
    transition: 0.5s ease-in-out;
  }

  .hero-section {
    padding: 0 4.38rem;
  }

  .hero-btn,
  .hero-img {
    margin-bottom: 100px;
  }

  .statistics-list {
    padding-bottom: 6.25rem;
  }

  h2 {
    text-align: start;
  }

  .section-paragraph {
    text-align: start;
  }

  /* NEED TO FIND A BETTER WAY TO CREATE THE GAP */
  .statistics-list {
    flex-direction: row;
    gap: 200px;
    padding: 88px 60px;
  }

  .together-flex {
    flex-direction: row;
    padding: 88px 60px;
  }

  .conversation-flex {
    flex-direction: row-reverse;
    padding: 88px 60px;
  }

  .users-flexbox {
    flex-direction: row;
    padding: 88px 60px;
  }

  .hero-btn,
  .cta-btn {
    width: 400px;
    padding: 27.04px 30.08px;
  }

  .hero-btn:hover,
  .cta-btn:hover {
    width: 340px;
  }

  .cta-section {
    min-height: 31.25rem;
  }
}

/* ***************************** */
/* LAPTOP - DESKTOP */
/* ***************************** */

@media (min-width: 1000px) {
  header {
    min-height: 340px;
    justify-content: space-between;
    padding: 80px 50.08px 0 50.08px;
  }
  .statistics-list {
    gap: 340px;
  }
}

@media (min-width: 1100px) {
  footer {
    padding: 50px 70px;
  }

  .footer-inner {
    flex-direction: row;
    justify-content: space-between;
    /* padding: 88px 60px; */
    padding: 88px 100px;
  }

  .company-info {
    text-align: start;
  }

  .company-contact {
    align-items: flex-start;
  }

  .social-media-container {
    justify-content: flex-start;
  }

  .newsletter-container {
    max-width: 500px;
    text-align: start;
  }

  form {
    flex-direction: row;
  }
}
