@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Dark-Cyan: hsl(192, 100%, 9%);
  --Pale-Blue: hsl(207, 100%, 98%);
  --Light-Gray: hsl(200, 1%, 55%);
  --White: hsl(0, 0%, 100%);
  --Shadow: hsl(211, 30%, 86%);

  --Transition: 0.8s ease;
}

/**************************/
/* RESETS */
/**************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

/**************************/
/* LAYOUT */
/**************************/

body {
  font-family: "Open Sans", sans-serif;
  color: var(--Dark-Cyan);
}

header,
.together-flex,
.users-flexbox {
  max-width: 90rem;
  margin: 0 auto;
}

/**************************/
/* GENERAL STYLING */
/**************************/

h2 {
  font-size: clamp(1.13rem, calc(0.71rem + 1.78vw), 2.31rem);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.25rem;
  transition: var(--Transition);
}

.section-paragraph {
  max-width: 32.19rem;
  font-size: clamp(0.88rem, calc(0.83rem + 0.19vw), 1rem);
  text-align: center;
  line-height: 1.69rem;
  transition: var(--Transition);
}

.img-container {
  max-width: 32.5rem;
  transition: var(--Transition);
}

.together-section,
.users-section {
  background-color: var(--Pale-Blue);
}

.background-section {
  width: 100%;
  vertical-align: bottom;
}

/**************************/
/* HEADER & NAV */
/**************************/

header {
  min-height: 120px;
  /* min-height: 160px; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 50px;
  transition: var(--Transition);
}

.header-btn {
  display: none;
}

.header-btn:hover {
  color: var(--Pale-Blue);
  background-color: var(--Pink);
}

/**************************/
/* HERO SECTION */
/**************************/

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

h1 {
  max-width: 1240px;
  font-size: clamp(1.38rem, calc(0.1rem + 5.45vw), 5rem);
  margin-bottom: 1.25rem;
  font-family: "Poppins", sans-serif;
  animation: gradient 10s linear infinite;
  background: linear-gradient(
    -60deg,
    hsl(268, 100%, 66%),
    hsl(322, 100%, 66%),
    hsl(9, 100%, 66%)
  );
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: var(--Transition);
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.hero-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.hero-paragraph {
  max-width: 43.75rem;
  font-size: clamp(0.88rem, calc(0.7rem + 0.75vw), 1.38rem);
  margin-bottom: 3.13rem;
  transition: var(--Transition);
}

.hero-btn {
  margin-bottom: 40px;
}

.hero-img {
  margin-bottom: 80px;
}

/**************************/
/* STATISTICS SECTION */
/**************************/

.statistics-section {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--Transition);
}

.statistics-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  gap: 100px;
  text-align: center;
  padding-bottom: 60px;
}

.communities {
  max-width: 300px;
  position: relative;
}

.communities::before {
  position: absolute;
  content: "";
  background-image: url(/images/icon-communities.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: -40%;
  left: 0%;
}

.messages {
  max-width: 300px;
  position: relative;
}

.messages::before {
  position: absolute;
  content: "";
  background-image: url(/images/icon-messages.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: -40%;
  left: 0%;
}

.statistics p {
  font-size: clamp(2.505rem, calc(0.49rem + 5.92vw), 5.81rem);
  font-weight: 700;
}

.statistics span {
  font-size: clamp(0.88rem, calc(0.65rem + 0.94vw), 1.5rem);
  color: var(--Light-Gray);
}

/**************************/
/* TOGETHER - SECTION */
/**************************/

.together-flex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 5.63rem;
  padding: 80px 20px;
  transition: var(--Transition);
}

/**************************/
/* CONVERSATION - SECTION */
/**************************/

.conversation-flex {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 5.63rem;
  padding: 80px 20px;
  transition: var(--Transition);
}

/**************************/
/* USERS - SECTION */
/**************************/

.users-flexbox {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 5.63rem;
  padding: 80px 20px;
  transition: var(--Transition);
}

/**************************/
/* CTA - SECTION */
/**************************/

.cta-section {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--Transition);
}

.cta-heading {
  margin-bottom: 2.5rem;
}

/**************************/
/* CTA BTNS */
/**************************/

.btn {
  text-align: center;
  color: var(--Pale-Blue);
  background-color: var(--Pink);
  transition: 0.3s ease-in-out;
}

.hero-btn,
.cta-btn {
  width: 260px;
  font-size: clamp(0.88rem, calc(0.74rem + 0.56vw), 1.25rem);
  font-weight: 600;
  padding: 18px 22px;
  border-radius: 3.13rem;
  box-shadow: 0 0.5rem 0.63rem var(--Shadow);
  cursor: pointer;
}

.hero-btn:hover,
.cta-btn:hover {
  width: 220px;
  background-color: var(--Light-Pink);
}

/**************************/
/* FOOTER SECTION */
/**************************/

/* footer p {
  font-size: clamp(0.75rem, calc(0.68rem + 0.28vw), 0.94rem);
  line-height: 1.56rem;
  font-weight: 600;
} */

footer {
  color: var(--White);
  padding: 50px 20px;
  background: var(--Dark-Cyan);
}

.footer-inner {
  max-width: 1440px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 auto;
}

.footer-paragraph {
  font-size: clamp(0.88rem, calc(0.83rem + 0.19vw), 1rem);
}

.company-info {
  max-width: 340px;
  text-align: center;
}

.company-about-us {
  margin-bottom: 40px;
}

.company-footer-logo {
  margin-bottom: 40px;
}

.company-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.company-contact-phone,
.company-contact-email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.company-contact-phone i,
.company-contact-email i {
  font-size: 30px;
}

.company-contact-phone a,
.company-contact-email a {
  transition: var(--Transition);
}

.social-media-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 30px;
  transition: var(--Transition);
}

.social-media-container i {
  transition: var(--Transition);
}

.social-media-container i:hover,
.phone:hover,
.email:hover {
  color: var(--Pink);
}

.newsletter-container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding-bottom: 40px;
}

.newsletter-heading {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 6px;
}

.newsletter-btn {
  padding: 14px 32px;
  border-radius: 6px;
  cursor: pointer;
}

.newsletter-btn:hover {
  background-color: var(--Light-Pink);
}

/* ***************************** */
/* INPUT */
/* ***************************** */

input {
  width: 100%;
  padding: 14px;
  border-radius: 6px;
}
